@CHARSET "UTF-8";

html, body{
    width:100%;
    height:100%;
    padding: 0;
    margin: 0;
     
}

.debug { border: 1px solid red; }

#detail_wrapper{

        height:100%;
        width: 100%;
        text-align: center;
}

#title{
    position:relative;
    width: 80%;
    height: 10%;
    margin-top: 1%;
    display: inline-block;
    
}

#body{
    position: relative;
    width: 80%;
    height: 80%;
    margin-top: 1%;
    display: inline-block;
      text-align: center;
}

#body_photo{
     width:95%;
     margin-top:1%;
     height:55%;
     display: inline-block;
    
}

#body_content{
     display: inline-block;
     width: 95%;
     margin-top:1%;
     height: 23%;
    
}

#like{
 
    float: right;
    width: 20%;
    height: 10%;
       margin-top: 3%;
}

#maker_profile{
    float: right;
        width: 20%;
    height: 10%;
    margin-top: 3%;
}

#myFriend_writing_list_wrapper{
      position: relative;
    width: 80%;
    height: 40%;
    margin-top: 1%;
    display: inline-block;

    
}

#myFriend_writing_list_title{
        
        width: 40%;
        height: 10%;
        padding-left:5%;
        font-style: italic;
        text-align: left;
     
}

#myFriend_writing_list{
    position: relative;
    width: 100%;
    height: 80%;
    margin :auto;

    
   
}

#writing{
      margin: 1% 1% 1% 1%;
      width: 98%;
      height: 90%;
      display: inline-block;
}

#friend_photo{
    position:relative;
    top:25%;
     width: 10%;
    height: 50%;
    float: left;
}

#friend_name{
     width: 10%;
    height: 10%;
    top:25%;
}

#friend_writing{
     width: 85%;
    height: 70%;
    float: right;
    top: 25%;
    
    
}

#comment_wrapper{
        position: relative;
    width: 80%;
    height: 30%;
    margin-top: 1%;
    display: inline-block;
}

#comment_list{
       position: relative;
    width: 100%;
    height: 100%;
    margin :auto;
}

#comment{
      position: relative;
    width: 100%;
    height: 100%;
}

#comment div{
    position: absolute;
}

#comment_photo{
    height: 50%;
    width: 10%;
    top:25%;
    
}

#comment_id{
        height: 15%;
    width: 10%;
    top:10%;
    left: 15%;
    
}

#comment_content{
     height: 50%;
    width: 80%;
    top:30%;
    left: 15%;
   
}
#comment_date{
    left: 15%;
      height: 15%;
    width: 10%;
        top:85%;
    
}


